doctype html
html
  head
    style.
      .btn {
        background: red;
        color: white;
        padding: 1em 3em;
        border-radius: 0.1em;
        text-decoration: none;
        outline: 0.1em solid;
      }
      p { padding: 1em 0; }

  body
    h2 IceCondor Login Button

    p.
      The button below gives access to your account on IceCondor.

    a.btn(target="_blank" href='#{link}') Login

