doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body(style="margin: 0; padding: 0;")
    h2 IceCondor Data Download

    p(style='padding: 1em 0;').
      Your location data has been built into a GPX file. Use the link
      below or login to icecondor.com and look under "Data".

    a.btn(target="_blank" href='#{link}' style='background: green; color: white; padding: 1em 3em; border-radius: 0.1em; text-decoration: none; outline: 0.1em solid; line-height: 3em; font-size: 110%') Download GPX

