{
  "rules": {
    "semi": false,
    "quotes": "single",
    "no-console": false,
    "no-use-before-define": [true, "nofunc"],
    "camelcase": false,
    "strict": "global"
  },
  "globals" : {
    "console": false,
    "process": false,
    "require": false,
    "Promise": {"variable": true}
  }
}
